# Order is important. The last matching pattern has the most precedence.

*                 @chef/chef-foundation-owners @chef/chef-foundation-approvers @chef/chef-foundation-reviewers @chef/infra-packages
*.md              @chef/docs-team
